<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DAO.Properties.Settings.QLKSConnectionString" connectionString="Data Source=THU\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="DAO.Properties.Settings.QLKSConnectionString1" connectionString="Data Source=LAPTOP-1CIU4QVU;Initial Catalog=QLKS;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="DAO.Properties.Settings.QLKSConnectionString2" connectionString="Data Source=DESKTOP-IG8LD99\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="DAO.Properties.Settings.QLKSConnectionString3" connectionString="Data Source=DESKTOP-928743O;Initial Catalog=QLKS;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>